$bg-base: #f0efe9;
$bg-second: #ffffff;
$bg-accent: #316dc2;
$bg-active: #275699;
$scrollbar: rgb(49, 109, 194, 0.2);
$title-base: #316dc2;
$title-second: #ffffff;
$title-ad: #f0efe9;
$text-base: #484848;
$text-second: #ffffff;
$text-disabled: #a9afb7;
$overlay: rgba(49, 109, 194, 0.2);
$border-contacts: rgba(255, 255, 255, 0.2);
$footer-policy-hover: rgba(49, 109, 194, 0.7);
$title-second-opacity: rgba(255, 255, 255, 0.7);
$popup-overlay: rgb(0, 0, 0, 0.4);
$color-error: #ff5e66;
