.hero {
  position: relative;
  box-sizing: border-box;
  color: $text-base;

  overflow: hidden;
}

.hero__shit {
  @media (width <= 767px) {
    display: none;
  }

  @media (width >= 768px) and (width <= 1439px) {
    display: inline;
  }

  @media (width >= 1440px) {
    display: none;
  }
}

.page-body__header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  @media (width <= 767px) {
    padding: 20px 15px;
  }

  @media (width >= 768px) and (width <= 1439px) {
    padding: 30px 45px;
  }

  @media (width >= 1440px) {
    padding: 30px 100px;
  }
}

.page-body__container--hero {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
}

.hero__logo {
  @media (width <= 767px) {
    padding-top: 1px;
  }

  @media (width >= 768px) {
    padding-top: 2px;
  }
}

.hero__menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.button-section--menu {
  width: 136px;
  transition: all 0.4s;

  background-color: $bg-second;
  padding: 20px 60px 20px 20px;

  &:hover {
    &::before {
      background-color: $bg-accent;
    }

    &::after {
      top: 19px;
      right: 30px;
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='8' viewBox='0 0 18 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2369_1386)'%3e%3cpath d='M1.7998 0.799805H16.1998M1.7998 3.9998H16.1998M1.7998 7.1998H16.1998' stroke='white' stroke-width='0.8' stroke-linecap='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2369_1386'%3e%3crect width='16' height='8' fill='white' transform='translate(1)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
  }

  @media (width <= 767px) {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;

    padding-top: 19px;
    padding-left: 21px;
  }

  &::before {
    @media (width <= 767px) {
      width: 46px;
      height: 46px;

      top: 3px;
    }
  }

  &::after {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='8' viewBox='0 0 18 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2369_1386)'%3e%3cpath d='M1.7998 0.799805H16.1998M1.7998 3.9998H16.1998M1.7998 7.1998H16.1998' stroke='white' stroke-width='0.8' stroke-linecap='round'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2369_1386'%3e%3crect width='16' height='8' fill='white' transform='translate(1)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");

    @media (width <= 767px) {
      width: 6px;
      height: 6px;
      right: 30px;
      top: 18px;
    }

    @media (width >= 768px) {
      right: 30px;
      top: 19px;
    }
  }

  @media (width <= 767px) {
    height: 54px;
  }

  @media (width >= 768px) {
    height: 56px;
  }
}

.button-section--opened {
  width: 100%;
  background-color: $bg-accent;
  color: $title-second;

  &::before {
    background-color: $bg-second;
  }

  &:hover::before {
    background-color: $bg-second;
  }

  &::after {
    right: 30px;
    top: 18px;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 18L10 10M10 10L18 2M10 10L18 18M10 10L2 2' stroke='%23316DC2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }

  &:hover::after {
    right: 30px;
    top: 18px;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 18L10 10M10 10L18 2M10 10L18 18M10 10L2 2' stroke='%23316DC2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  }
}

.hero__menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 28px;

  list-style: none;
  color: $text-second;

  width: 286px;

  margin: 4px 0 0;
  padding: 35px 25px;
  background-color: $bg-accent;
  border-radius: 16px;

  &--closed {
    display: none;
  }
}

.hero__menu details > summary {
  list-style: none;
}

.hero__menu details ul {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  padding: 20px 0 0 16px;
}

.hero__menu ul {
  list-style: none;
  padding: 0;
}

.hero__menu-item {
  width: min-content;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $title-second-opacity;
  text-transform: uppercase;

  &:hover {
    color: $title-second;
  }
}

.hero__menu-item > li {
  width: min-content;
}

.hero__menu-item > a {
  text-decoration: none;
  color: inherit;
}

.hero__menu-item > details {
  &:hover summary::after {
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.455 3.81812L6.00044 8.72721L0.545898 3.81812' stroke='white'/%3e%3c/svg%3e ");
  }

  cursor: default;
}

.hero__menu-item > details > summary {
  position: relative;
  width: min-content;
  padding-right: 20px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath opacity='0.6' d='M11.455 3.81812L6.00044 8.72721L0.545898 3.81812' stroke='white'/%3e%3c/svg%3e ");
  }
}

.hero__menu-item > .hero__menu-item-details[open] > summary {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.455 8.18164L6.00044 3.27255L0.545898 8.18164' stroke='white'/%3e%3c/svg%3e ");
  }
}

.hero__menu-item > details li {
  font-weight: 400;

  text-transform: none;
  color: $title-second-opacity;
  cursor: pointer;

  &:hover {
    color: $title-second;
  }
}

.hero__menu-item > details a {
  text-decoration: none;
  color: inherit;
}

.hero__slider {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.hero__slide {
  box-sizing: border-box;
}

.hero__slide dl {
  margin: 0;
}

// .swiper-slide-active {
//   width: 100%;
// }

.hero__slide dt {
  position: relative;
  box-sizing: border-box;
  font-weight: 400;

  background-color: $bg-second;
  color: $title-base;
}

.hero__slide dt span {
  word-wrap: break-word;
  overflow-y: auto;
}

.hero__slide dd {
  box-sizing: border-box;
  position: relative;

  margin: 0;
  background-color: $bg-second;

  @media (width <= 767px) {
    border-radius: 0 0 30px;
  }

  @media (width >= 768px) {
    border-radius: 0 0 30px 30px;
  }

  &::after {
    position: absolute;

    content: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26 0C11.6406 0 0 11.6406 0 26V0H26Z" fill="white"/></svg>');
  }
}

.hero__slide dd span {
  overflow-y: auto;
}

.button-section--slide {
  position: absolute;

  @media (width <= 767px) {
    bottom: -54px;
    left: 15px;
    width: 154px;
    height: 44px;
  }

  @media (width >= 768px) and (width <= 1439px) {
    top: 0;
    right: 40px;
    width: 198px;
    height: 56px;
  }

  @media (width >= 1440px) {
    bottom: 45px;
    right: 50px;
    width: 199px;
    height: 58px;

    padding-top: 21px;

    &::before {
      top: 5px;
      right: 5px;
    }

    &::after {
      top: 21px;
      right: 27px;
    }
  }
}

// .hero__footer {
//   position: absolute;
//   z-index: 2;

//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.swiper-pagination {
  position: absolute;

  display: flex;
  align-items: center;
  column-gap: 12px;

  background-color: $bg-second;
  border-radius: 20px 20px 0 0;

  list-style: none;
  margin: 0;
  z-index: 2;

  &::after {
    position: absolute;

    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2369_2493)"><path d="M20 20C8.95431 20 0 11.0457 0 0V20H20Z" fill="white"/></g><defs><clipPath id="clip0_2369_2493"><rect width="20" height="20" fill="white"/></clipPath></defs></svg>');
  }
}

.swiper-pagination-bullet {
  display: block;
  box-sizing: border-box;

  border: 2px solid $bg-accent;
  background-color: transparent;
  border-radius: 50%;

  &:focus-visible {
    background-color: $bg-accent;
    border-color: $bg-accent;
  }

  &:hover {
    background-color: $bg-accent;
    border-color: $bg-second;
  }
}

.swiper-pagination-bullet-active {
  background-color: $bg-active;
  border-color: $bg-active;
}

@media (width <= 767px) {
  .hero__slide {
    padding: 229px 15px 20px;

    height: 568px;

    &--slide-1 {
      background: image-set("/img/hero/bg-slide-mobile-1.jpg" 1x, "/img/hero/bg-slide-mobile-1@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }

    &--slide-2 {
      background: image-set("/img/hero/bg-slide-mobile-2.jpg" 1x, "/img/hero/bg-slide-mobile-2@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }

    &--slide-3 {
      background: image-set("/img/hero/bg-slide-mobile-3.jpg" 1x, "/img/hero/bg-slide-mobile-3@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }
  }

  .hero__slide dl {
    width: 290px;
  }

  .hero__slide dt {
    font-size: 22px;
    line-height: 26px;

    max-height: 240px;
    min-height: 43px;

    padding: 20px 15px 16px 14px;

    border-radius: 0 16px 16px 0;
  }

  .hero__slide dd {
    font-size: 14px;
    line-height: 20px;

    width: 267px;
    min-height: 69px;
    padding: 0 14px 15px;
    margin-bottom: 64px;

    &::before {
      position: absolute;
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='194' height='64' viewBox='0 0 194 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 0H184V50C184 57.732 177.732 64 170 64H14C6.26801 64 0 57.732 0 50V0Z' fill='white'/%3e%3cg clip-path='url(%23clip0_2369_1995)'%3e%3cpath d='M194 0C188.477 0 184 4.47715 184 10V0H194Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2369_1995'%3e%3crect width='10' height='10' fill='white' transform='translate(184)'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");

      width: 194px;
      height: 64px;

      left: 0;
      bottom: -64px;
    }

    &::after {
      top: -5px;
      right: -10px;

      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_2369_1993)'%3e%3cpath d='M10 0C4.47715 0 0 4.47715 0 10V0H10Z' fill='white'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_2369_1993'%3e%3crect width='10' height='10' fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e ");
    }
  }

  // .hero__footer {
  //   justify-content: center;

  //   right: 15px;
  //   left: 15px;
  //   bottom: 0;
  // }

  .swiper-pagination {
    left: calc(50% - 145px);
    top: 201px;
    padding: 10px 16px;
    border-radius: 14px 14px 0 0;

    &::after {
      bottom: 4px;
      right: -8px;

      width: 10px;
      height: 10px;
    }
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

@media (width >= 768px) and (width <= 1439px) {
  .hero__slide {
    padding: 687px 0 60px;

    height: 1024px;

    &--slide-1 {
      background: image-set("/img/hero/bg-slide-tablet-1.jpg" 1x, "/img/hero/bg-slide-tablet-1@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }

    &--slide-2 {
      background: image-set("/img/hero/bg-slide-tablet-2.jpg" 1x, "/img/hero/bg-slide-tablet-2@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }

    &--slide-3 {
      background: image-set("/img/hero/bg-slide-tablet-3.jpg" 1x, "/img/hero/bg-slide-tablet-3@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }
  }

  .hero__slide dl {
    width: 659px;
  }

  .hero__slide dt {
    font-size: 36px;
    line-height: 44px;

    max-height: 240px;
    min-height: 43px;

    padding: 31px 69px 23px 40px;

    border-radius: 0 30px 30px 0;
  }

  .hero__slide dd {
    font-size: 16px;
    line-height: 20px;

    width: 593px;
    min-height: 87px;
    padding: 0 268px 35px 40px;

    &::after {
      top: 0;
      right: -26px;
    }
  }

  // .hero__footer {
  //   right: 40px;
  //   left: 40px;
  //   bottom: 40px;

  //   justify-content: center;
  // }

  .swiper-pagination {
    left: calc(50% - 339px);
    top: 647px;
    padding: 14px 20px;

    &::after {
      bottom: -3px;
      right: -20px;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

@media (width >= 1440px) {
  .hero__slide {
    padding: 431px 0 60px;
    height: 800px;

    &--slide-1 {
      background: image-set("/img/hero/bg-slide-desktop-1.jpg" 1x, "/img/hero/bg-slide-desktop-1@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }

    &--slide-2 {
      background: image-set("/img/hero/bg-slide-desktop-2.jpg" 1x, "/img/hero/bg-slide-desktop-2@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }

    &--slide-3 {
      background: image-set("/img/hero/bg-slide-desktop-3.jpg" 1x, "/img/hero/bg-slide-desktop-3@2x.jpg" 2x) no-repeat;
      background-size: cover;
    }
  }

  .hero__slide dl {
    width: 944px;
  }

  .hero__slide dt {
    font-size: 54px;
    line-height: 62px;

    width: 968px;
    max-height: 240px;

    min-height: 43px;
    transform: translateY(2px);

    padding: 40px 50px 30px;

    border-radius: 0 30px 30px 0;
  }

  .hero__slide dd {
    font-size: 16px;
    line-height: 26px;

    min-height: 100px;
    width: 775px;

    padding: 2px 279px 35px 50px;

    &::after {
      top: 2px;
      right: -26px;
    }
  }

  // .hero__footer {
  //   right: 120px;
  //   left: 120px;
  //   bottom: 80px;
  // }

  .swiper-pagination {
    left: calc(50% - 620px);
    top: 393px;
    padding: 14px 20px;

    &::after {
      bottom: -3px;
      right: -20px;
    }
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
